.group-icon7,
.group-icon8,
.group-icon9 {
  position: absolute;
  height: 94.84%;
  width: 94.08%;
  top: 4.72%;
  right: 0;
  bottom: 0.44%;
  left: 5.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon8,
.group-icon9 {
  height: 46.34%;
  width: 67.44%;
  top: 49.34%;
  right: 13.53%;
  bottom: 4.31%;
  left: 19.04%;
}
.group-icon9 {
  height: 78.82%;
  width: 97.73%;
  top: 0;
  right: 2.27%;
  bottom: 21.18%;
  left: 0;
}
.group-icon10 {
  position: absolute;
  height: 94.14%;
  width: 39.55%;
  top: 5.86%;
  right: 27.26%;
  bottom: 0;
  left: 33.2%;
}
.group-icon10,
.group-icon11,
.group-icon12,
.vector-icon52 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon11 {
  position: absolute;
  height: 20.23%;
  width: 87.04%;
  top: 28.14%;
  right: 5.73%;
  bottom: 51.62%;
  left: 7.23%;
}
.group-icon12,
.vector-icon52 {
  top: 0;
}
.vector-icon52 {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-icon12 {
  height: 25.34%;
  bottom: 74.66%;
}
.group-icon12,
.group-icon13,
.group-icon14,
.group3 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.group-icon13 {
  height: 24.53%;
  top: 75.74%;
  bottom: -0.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon14,
.group3 {
  height: 100%;
  top: 0;
  bottom: 0;
}
.group-icon14 {
  height: 74.93%;
  width: 42.43%;
  top: 12.4%;
  right: 28.78%;
  bottom: 12.67%;
  left: 28.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group2 {
  position: absolute;
  height: 82.81%;
  width: 90.61%;
  top: 8.71%;
  right: 4.62%;
  bottom: 8.48%;
  left: 4.77%;
}
.group1,
.vector-icon53 {
  position: absolute;
  height: 8.67%;
  width: 9.24%;
  top: 21.04%;
  right: 70.74%;
  bottom: 70.29%;
  left: 20.01%;
}
.vector-icon53 {
  height: 4.89%;
  width: 37.64%;
  top: 65.78%;
  right: 28.21%;
  bottom: 29.32%;
  left: 34.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon15,
.group-icon16,
.vector-icon54,
.vector-icon55,
.vector-icon56,
.vector-icon57 {
  position: absolute;
  height: 0.75%;
  width: 18.37%;
  top: 66.92%;
  right: 29.37%;
  bottom: 32.32%;
  left: 52.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon15,
.group-icon16,
.vector-icon55,
.vector-icon56,
.vector-icon57 {
  width: 17.91%;
  right: 47.23%;
  left: 34.86%;
}
.group-icon15,
.group-icon16,
.vector-icon56,
.vector-icon57 {
  height: 1.62%;
  width: 1.07%;
  top: 66.5%;
  right: 47.04%;
  bottom: 31.88%;
  left: 51.89%;
}
.group-icon15,
.group-icon16,
.vector-icon57 {
  height: 1.28%;
  width: 4.44%;
  top: 68.72%;
  right: 60.61%;
  bottom: 30%;
  left: 34.96%;
}
.group-icon15,
.group-icon16 {
  height: 11.04%;
  width: 6.32%;
  top: 6.38%;
  right: 18.21%;
  bottom: 82.57%;
  left: 75.47%;
}
.group-icon16 {
  height: 27.6%;
  width: 74.17%;
  top: 19.05%;
  right: 13.39%;
  bottom: 53.35%;
  left: 12.44%;
}
.group-icon17,
.group-icon18,
.vector-icon58,
.vector-icon59,
.vector-icon60 {
  position: absolute;
  height: 55.94%;
  width: 14.39%;
  top: 43%;
  right: 10.98%;
  bottom: 1.06%;
  left: 74.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon18,
.vector-icon58,
.vector-icon59,
.vector-icon60 {
  height: 79.59%;
  width: 38.75%;
  top: 6.25%;
  right: 24.5%;
  bottom: 14.16%;
  left: 36.75%;
}
.vector-icon58,
.vector-icon59,
.vector-icon60 {
  height: 22.75%;
  width: 3.87%;
  top: 73.46%;
  right: 73.1%;
  bottom: 3.79%;
  left: 23.03%;
}
.vector-icon59,
.vector-icon60 {
  width: 4.12%;
  top: 74.29%;
  right: 72.09%;
  bottom: 2.96%;
  left: 23.79%;
}
.vector-icon60 {
  height: 1.76%;
  width: 6.94%;
  top: 73.98%;
  right: 71.12%;
  bottom: 24.26%;
  left: 21.94%;
}
.vector-icon61,
.vector-icon62,
.vector-icon63,
.vector-icon64,
.vector-icon65 {
  position: absolute;
  height: 3.66%;
  width: 3.17%;
  top: 55.45%;
  right: 73.09%;
  bottom: 40.89%;
  left: 23.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon62,
.vector-icon63,
.vector-icon64,
.vector-icon65 {
  height: 0.56%;
  width: 9.2%;
  top: 68.82%;
  right: 74.46%;
  bottom: 30.62%;
  left: 16.34%;
}
.vector-icon63,
.vector-icon64,
.vector-icon65 {
  height: 7.33%;
  width: 9.05%;
  top: 62.36%;
  bottom: 30.31%;
  left: 16.49%;
}
.vector-icon64,
.vector-icon65 {
  height: 2.57%;
  width: 0.83%;
  top: 69.85%;
  right: 79.19%;
  bottom: 27.58%;
  left: 19.99%;
}
.vector-icon65 {
  height: 1.53%;
  width: 4.93%;
  top: 69.28%;
  right: 74.16%;
  bottom: 29.19%;
  left: 20.91%;
}
.vector-icon66 {
  height: 1.14%;
  width: 7.13%;
  top: 96.31%;
  right: 75.9%;
  bottom: 2.55%;
  left: 16.97%;
  max-width: 100%;
  max-height: 100%;
}
.char-13,
.group-icon19,
.vector-icon66 {
  position: absolute;
  overflow: hidden;
}
.group-icon19 {
  height: 54.55%;
  width: 15.41%;
  top: 44.97%;
  right: 70.45%;
  bottom: 0.48%;
  left: 14.13%;
  max-width: 100%;
  max-height: 100%;
}
.char-13 {
  top: 299px;
  left: 874px;
  width: 726px;
  height: 517px;
}
.first-name,
.label29 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.first-name {
  align-self: stretch;
}
.label29 {
  flex: 1;
}
.field2,
.input6,
.input7,
.input8,
.input9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.field2 {
  align-self: stretch;
  flex: 1;
  box-shadow: var(--button-shadow);
  border-radius: var(--br-5xs);
  background-color: var(--grays-white);
  border: 1px solid var(--color-gainsboro-200);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  color: var(--color-dimgray);
}
.input6,
.input7,
.input8,
.input9 {
  width: 295px;
  height: 80px;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.input7,
.input8,
.input9 {
  width: 297px;
}
.input8,
.input9 {
  width: 626px;
}
.input9 {
  height: 194px;
}
.submit {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.button10,
.form1 {
  display: flex;
  flex-direction: row;
}
.button10 {
  flex: 1;
  box-shadow: var(--button-shadow);
  border-radius: var(--br-5xs);
  background-color: var(--color-peachpuff);
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) 32px;
  font-size: var(--subheading-size);
}
.form1 {
  position: absolute;
  width: 43.47%;
  top: 495px;
  right: 51.11%;
  left: 5.42%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 24px 32px;
}
.wed-love-to {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  white-space: pre-wrap;
}
.email-adhdaiassistasdrporg {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-size);
  line-height: 150%;
  color: var(--color-dimgray);
}
.headline {
  position: absolute;
  top: 244px;
  left: 80px;
  width: 624px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-s);
  font-size: var(--title-size);
}
.about {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  cursor: pointer;
}
.button11 {
  box-shadow: var(--button-shadow);
  border-radius: var(--br-5xs);
  background-color: var(--color-peachpuff);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-5xl);
  font-size: var(--body-base-size);
}
.adhdr,
.items {
  position: absolute;
}
.items {
  top: 56px;
  right: 137px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-m);
}
.adhdr {
  top: 67px;
  left: 80px;
  line-height: 150%;
  font-weight: 500;
  color: var(--labels-primary);
  cursor: pointer;
}
.generic-avatar-icon {
  position: absolute;
  top: 56px;
  left: 1353px;
  border-radius: var(--br-81xl);
  width: 50px;
  height: 51px;
  overflow: hidden;
}
.navigation {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--grays-white);
  height: 164px;
  overflow: hidden;
  font-size: var(--subheading-size);
}
.topic {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  color: var(--color-darkslategray-200);
}
.items1,
.items2,
.items3 {
  position: absolute;
  top: 48px;
  right: 917px;
  width: 187px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--spacing-s);
}
.items2,
.items3 {
  right: 498px;
}
.items3 {
  right: 80px;
}
.adhdr1 {
  top: 52px;
  left: 1280px;
  font-size: var(--heading-size);
  line-height: 150%;
  color: var(--color-darkslategray-200);
}
.divider {
  position: absolute;
  top: 0px;
  left: 179.5px;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 1281px;
  height: 1px;
}
.buttons-icon {
  width: 40px;
  position: relative;
  border-radius: var(--br-9xs);
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}
.social-icons {
  position: absolute;
  top: 204px;
  left: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-xs);
}
.navigation-footer {
  position: absolute;
  width: 100%;
  top: 1121px;
  right: 0;
  left: 50;
  background-color: var(--grays-white);
  height: 264px;
  overflow: hidden;
  color: var(--color-darkslategray-100);
}
.contact-us,
.contact-us-page {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.contact-us {
  height: 160%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--color-snow);
}
.contact-us-page {
  background-color: var(--grays-white);
  width: 100vw; 
  height: 140vh;
}
.contact {
  width: 100%;
  position: relative;
  height: 1325px;
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--color-darkslategray-200);
  font-family: var(--body-base);
}
